<div class="row no-gutters">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="card m-2">
      <div class="card-header h4"> Powiat Bielsko-Biała</div>
      <div class="card-body">

        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th scope="col" class="clickable" (click)="this.reverse_dates=!this.reverse_dates; sort_reports()">Data</th>
            <th scope="col">Hospitalizacje</th>
            <th scope="col">Kwarantanna</th>
            <th scope="col">Monitorowanie</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of bb_reports">
            <td> {{p.date | date:'M / d'}}</td>
            <td> {{p.suspected}}</td>
            <td> {{p.quarantine}}</td>
            <td> {{p.monitored}} </td>
          </tr>
          </tbody>
        </table>


      </div>
      <div class="card-footer">
        <div class="text-right">
          <button class="btn btn-outline-info"
                  data-toggle="modal"
                  data-target="#aaamodal"
                  (click)="new_report()"
          >dodaj</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-2"></div>
</div>



<!--Modals-->
<div class="modal text-dark" id="aaamodal" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nowe dane</h5>
      </div>
      <div class="modal-body row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text w-100" id="basic-addon1">Data</span>
              </div>
              <input type="date" class="form-control" name="input_date" placeholder="Data" aria-describedby="basic-addon1"
                     [(ngModel)]="raport.date">
            </div>
            <div class="input-group mb-3" >
              <div class="input-group-prepend">
                <span class="input-group-text w-100" id="basic-addon2">Hospitalizacje</span>
              </div>
              <input type="number" class="form-control" name="input_date" placeholder="Data" aria-describedby="basic-addon1"
                     [(ngModel)]="raport.suspected">
            </div>
            <div class="input-group mb-3" >
              <div class="input-group-prepend">
                <span class="input-group-text w-100" id="basic-addon3">Kwarantanna</span>
              </div>
              <input type="number" class="form-control" name="input_date" placeholder="Data" aria-describedby="basic-addon1"
                     [(ngModel)]="raport.quarantine">
            </div>
            <div class="input-group mb-3" >
              <div class="input-group-prepend">
                <span class="input-group-text w-100" id="basic-addon4">Monitoring</span>
              </div>
              <input type="number" class="form-control" name="input_date" placeholder="Data" aria-describedby="basic-addon1"
                     [(ngModel)]="raport.monitored">
            </div>
          </form>

        </div>

        <div class="col-md-3"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">
          Porzuć
        </button>
        <button type="button" class="btn btn-outline-info" data-dismiss="modal" (click)="save_new_report()">
          Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
