<div class="row no-gutters">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="card m-2">
      <div class="card-header">

        <div class="row">
          <div class="col-md-6 h4">
            Region: {{node.name}}
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-outline-info" (click)="navigate_to_region(node.pid)">^ region ^</button>
          </div>
        </div>

      </div>

      <div class="card-body">

        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Data</th>
            <th scope="col" title="Łącznie z wynikiem dodatnim">wynik (+)</th>
            <th scope="col" title="Nowe z wynikiem dodatnim">nowe wynik (+)</th>
            <th scope="col" title="Suma nowych z wynikiem dodatnim za ostatnie 7 dni">średnia wynik (+)  </th>
            <th scope="col" title="Kwarantanna na dziś">kwarantanna</th>
            <th scope="col" title="Średnia liczba przypadków w kwarantannie za ostatnie 7 dni">średnia kwarantanna</th>
            <th scope="col" title="Suma przypadków śmiertelnych">zmarłych</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of case_data">
            <td class="w-40">{{d.data | date: 'yyyy-MM-dd'}}</td>
            <td class="w-10">{{d.p}}</td>
            <td class="w-10">{{d.np}}</td>
            <td class="w-10">{{d.np7}}</td>
            <td class="w-10">{{d.q}}</td>
            <td class="w-10">{{d.q7}}</td>
            <td class="w-10">{{d.d}}</td>
          </tr>
          </tbody>
        </table>


      </div>


      <div class="card-footer">

      </div>

    </div>
  </div>

  <div class="col-md-2"></div>
</div>


<!--Modals-->
<div class="modal text-dark" id="aaamodal" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nowe dane</h5>
      </div>
      <div class="modal-body row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text w-100" id="basic-addon1">Data</span>
              </div>
              <input type="date" class="form-control" name="input_date"
                     [ngModel]="edited_report.date |  date:'yyyy-MM-dd'" (ngModelChange)="edited_report.date=$event">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text w-100" id="basic-addon2">Hospitalizacje</span>
              </div>
              <input type="number" class="form-control" name="input_susp"
                     [(ngModel)]="edited_report.suspected">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text w-100" id="basic-addon3">Kwarantanna</span>
              </div>
              <input type="number" class="form-control" name="input_quar"
                     [(ngModel)]="edited_report.quarantine">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text w-100" id="basic-addon4">Monitoring</span>
              </div>
              <input type="number" class="form-control" name="input_mon"
                     [(ngModel)]="edited_report.monitored">
            </div>
          </form>

        </div>

        <div class="col-md-3"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">
          Porzuć
        </button>
        <button type="button" class="btn btn-outline-info" data-dismiss="modal" (click)="save_new_report()">
          Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
