<div class="row no-gutters">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header h4">Rekomendacje</div>
      <div class="card-body">
        W oparciu o aktualną literaturę światową, i dane z naszego systemu, proponujemy następujący zestaw rekomendacji
        do walki z epidemią covid-19.

        <div class="m-4">

          <div class="mt-4">

            <table class="table table-hover table-sm">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Dokument</th>
                <th scope="col">Opis</th>
                <th scope="col">Data aktualizacji</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td> <a href="https://guam.wsi.edu.pl/share/maps/rekomendacje.pdf">rekomendacje.pdf</a> </td>
                <td>Rekomendacje dla placówek edukacyjnych</td>
                <td>19 Sierpnia 2020</td>
              </tr>
              <tr>
                <td> <a href="https://guam.wsi.edu.pl/share/maps/podstawa_rekomendacji.pdf">podstawa_rekomendacje.pdf</a> </td>
                <td>Podstawa naukowa rekomendacji dla placówek edukacyjnych</td>
                <td>19 Sierpnia 2020</td>
              </tr>
              </tbody>
            </table>

          </div>


        </div>


      </div>

    </div>


  </div>
  <div class="col-md-2"></div>

</div>
