<div class="row no-gutters">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-header h4">
        {{post.title}}
      </div>
      <div class="card-body text-center">
        <img [src]="post.imgurl">
      </div>
      <div class="card-footer">
        Dane z placówek PSSE regionu. Na wykresach kolor filetowy oznacza zerową liczbę przypadków, a kolory niebiesko-żółte dużą liczbę przypadków. Dodatkowo używamy skali logarytmicznej podkreślającej regiony o mniejszych wartościach liczbowych, np kolor "2" oznacza 7 przypadków, kolor "4" 50 przypadków, a kolor "6" 400 przypadków.
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
