<div class="row no-gutters" id="productpage">
  <div class="col-lg-5 col-md-3"></div>
  <div class="col-lg-6 col-md-8" id="motto">
    <div class="card">
      <div class="card-header h3 bg-info text-white">
        Serwis `covid-19`
      </div>
      <div class="card-body">
        <p>Szanowni Państwo!</p>

        <p>
          Oddajemy do dyspozycji południowego Śląska i Podbeskidzia serwis mający na celu
          śledzenie rozwoju epidemii Covid-19 w regionie. Z biegiem czasu będziemy modyfikowali
          serwis tak by jak najlepiej przyczyniał się do walki z epidemią.
        </p>

        <p>Dane, na podstawie których działa serwis, przygotowywane i udostępniane są
        codziennie przez placówki Powiatowych Stacji Sanitarno Epidemiologicznych. Za ich
        żmudną codzienną pracę na pierwszej linii walki z wirusem chcielibyśmy w tym miejscu
        podziękować.</p>

        <p>W szczególności na dzień dzisiejszy (8 czerwca 2020r) wykorzystujemy dane PSSE z Bielska-Białej,
        Cieszyna, Gliwic, Jaworzna, Katowic, Oświęcimia, Raciborza, Rybnika, Suchej Beskidzkiej, Tych, Wadowic
          i Wodzisławia Śląskiego. W miarę możliwości chętnie włączymy do serwisu
        dane kolejnych Stacji Powiatowych. </p>

        <p>
          Mając nadzieję na użyteczność serwisu, łączymy pozdrowienia,
        </p>
        <span class="float-md-right">
          <a href="https://twitter.com/pmarecki2"> The Sentinel Group </a></span>
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-1"></div>
</div>
