<div class="row no-gutters">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header h4">Źródła danych</div>
      <div class="card-body">
        Na chwilę obecną dla Polski korzystamy wyłącznie z danych prezentowanych bezpośrednio
        przez Powiatowe Stacje Sanitarno-Epidemiologiczne (PSSE) województw: Śląskiego i
        Małopolskiego. Ze względu na wcześniejsze raportowanie ze Śląska (nominalnie o 10:30, w praktyce do
        12:00) dane z tego regionu zbieramy około godziny 13. Dane z brakujących stacji (w tym z rejonów
        Czech) uzupełniamy w postaci update'u wieczorem (przed godz. 21). Poniższa tabela zawiera linki
        bezpośrednio prowadzące do stron z których odczytujemy dane.

        <div class="m-4">

          <table class="table table-hover table-sm">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Siedziba PSSE</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let l of sourceslines">
              <td>
                <a [href]="l.content">{{l.title}}</a>

              </td>
            </tr>
            </tbody>
          </table>

        </div>


      </div>

    </div>


  </div>
  <div class="col-md-2"></div>

</div>
