<div class="row no-gutters">
  <div class="col-md-5">
    <div class="card m-2">
      <div class="card-header h4">Zarażenia (wynik dodatni testu PCR)</div>
      <div class="card-body">
        <canvas baseChart
                [datasets]="datasets_np7"
                [labels]="labels"
                [chartType]="chart_type"
                [options]="chart_options"
                height="150"
        ></canvas>
      </div>
    </div>
    <div class="card m-2">
      <div class="card-header h4">Liczba osób na kwarantannie</div>
      <div class="card-body">
        <canvas baseChart
                [datasets]="datasets_q7"
                [labels]="labels"
                [chartType]="chart_type"
                [options]="chart_options"
                height="150"
        ></canvas>
      </div>
    </div>

  </div>
  <div class="col-md-7">
    <div class="card mt-2">
      <div class="card-header h4 text-center">
        covid-19, <span (click)="navigate_to_region()" class="clickable text-info"> Województwo Śląskie</span> <br> {{this.g.gdate | date : 'd MMMM yyyy'}}
      </div>

      <div class="card-body">

        <div class="table-responsive">

          <table class="table table-borderless h5">
            <tbody>
            <tr>
              <td class=" " style="width: 50%">Zarażonych</td>
              <td class=" ">{{lastdata.p}}</td>
            </tr>
            <tr>
              <td class=" ">Nowych zarażonych</td>
              <td class="  ">{{lastdata.np}}</td>
            </tr>
            <tr>
              <td class=" ">Kwarantanna</td>
              <td class=" ">{{lastdata.q}}</td>
            </tr>
            <tr>
              <td class=" ">Zmarłych</td>
              <td class=" ">{{lastdata.d}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <p class="text-center" style="margin-top: -10px">

        <div (click)="navigate_to_map(home_map.id)" *ngIf="home_map.id>0">
          <img [src]="g.thumbnail(home_map.imgurl)" [height]="450">
        </div>


      </div>

    </div>

  </div>
</div>
